<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h4 class="modal-title"><strong [textContent]="selected_date.date"></strong></h4>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <app-date-detail
          [selected_date]="selected_date" [selected_event]="selected_event"
          (on_select_event)="select_event($event)" (on_toggle_memo)="toggle_memo($event)"
          (on_save_date)="save_date()" (on_delete_event)="delete_event($event)">
        </app-date-detail>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary waves-effect" (click)="close()">Close</button>
  </div>
</ng-template>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="">
        <div class="row">
          <div class="col-lg-3 border-right pr-0">
            <app-month-info [month_info]="month_info" [edit_mode]="edit_mode"
              (on_toggle_edit_mode)="toggle_edit_mode()"
              (on_update_month_info)="update_month_info($event)"
              (on_toggle_power_option)="toggle_power_option()"
              (on_toggle_water_option)="toggle_water_option()">
            </app-month-info>
          </div>

          <div class="col-lg-9">
            <div class="card-body b-l calender-sidebar">
              <app-calendar [calendar_data]="calendar_data" (dateClick)="date_detail($event)">
              </app-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
