<form class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <select class="form-control" [(ngModel)]="current_event.expense_type" name="eventType">
            <option value="undefined" disabled>Type</option>
            <option *ngFor="let type of EVENTTYPES; let i = index" [value]="i" [textContent]="type"></option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="current_event.title" placeholder="Title" name="title">
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="row" *ngFor="let memo of current_event.memo; let last = last; let i = index;">
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control" [class.line-through]="memo.is_destroy" [(ngModel)]="memo.content" placeholder="Content" name="content-{{i}}">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <input type="text" class="form-control" [class.line-through]="memo.is_destroy" [(ngModel)]="memo.price" placeholder="Price" name="price-{{i}}"
            (blur)="updateMemoPrice()">
        </div>
      </div>
      <div class="col-sm-3">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="memo.payer_id"  name="payer_id-{{i}}">
              <option value="undefined" disabled>Payer ID</option>
              <option *ngFor="let payer of PAYERIDS;" [value]="payer.value" [textContent]="payer.icon"></option>
            </select>
          </div>
        </div>
      <div class="col-sm-1">
        <div class="form-group">
          <button class="btn btn-warning" type="button" (click)="toggle_memo(i, 'undo')" *ngIf="memo.is_destroy" [disabled]="current_event.is_destroy">
            <i class="fa fa-undo"></i>
          </button>
          <button class="btn btn-danger" type="button" (click)="toggle_memo(i, 'remove')" *ngIf="!memo.is_destroy">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="col-sm-1">
        <div class="form-group" *ngIf="last">
          <button class="btn btn-success" type="button" (click)="toggle_memo(i, 'add')">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 text-right font-weight-bold">
        <h3 [textContent]="current_event.price"></h3>
      </div>
    </div>
  </div>
  <div class="col-sm-3 mt-5 offset-md-6">
    <div class="form-group">
      <button type="button" class="btn btn-block btn-warning" disabled (click)="reset()">Reset</button>
    </div>
  </div>
  <div class="col-sm-3 mt-5">
    <div class="form-group">
      <button type="button" class="btn btn-block btn-outline-info" (click)="save_date()">Save</button>
    </div>
  </div>
</form>
